

<div class="jumbotron text-center">
  <app-dashboard-card [Confirmed]='Confirmed' [Active]='Active' [Death]='Death' 
    [Recovered]='Recovered'></app-dashboard-card>
  
    <div style="display: block; width: 200px; height: 200px;">
      <google-chart [data]="pieChart"></google-chart>
    </div>
    
  <!-- <div class="myChartWrapper">
    <div class="myChart">
      
      <google-chart [data]="ColumnChart"></google-chart>
    </div>
  </div> -->

  


  <div  style="width:90%;height:700px;margin-left: 5.5em;margin-right: auto;margin-bottom: 3em;">
    <google-chart [data]="ColumnChart"></google-chart>
  </div>
  
</div>


